.page {
    padding-bottom: 20px;
}

#visualizer {
    border: 1px solid lightgray;
}

#save_recording,
#clear_visual {
    display: none;
}

.row {
    margin-top: 20px;
}

.list-template .list-group-item button {
    float: right;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.list-template .list-group-item .id {
    color: gray;
    float: right;
    margin: 0 10px;
}
