<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Can't Touch This | Touchless Interface</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Can't Touch This</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            <button id="toggle_record" type="button" class="btn btn-outline-success">Start recording</button>
            <button id="toggle_visualize" type="button" class="btn btn-outline-success">Visualize</button>
            <button id="save_recording" type="button" class="btn btn-outline-primary">Save recording</button>
            <button id="clear_visual" type="button" class="btn btn-outline-warning">Clear Visual</button>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Templates</h5>
          <ul class="list-template"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Visual</h5>
          <canvas id="visualizer" width="800" height="800"/>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
